{{> header}}        
{{> sidebar}}        
<!-- Page Content -->
<div id="page-content-wrapper" class="content-wrapper">
<section class="content">
 

    </section>
</div>
<!-- /#page-content-wrapper -->